.statistics {
    .card {
        .card-body {
            padding: 30px;

            .icons {
                i {
                    font-size: 50px;
                }
            }

            .card-title {
                font-size: $h5_size + 6px;
                font-weight: 600;
            }
        }
    }
}